<div class="containers" id="show-details">
    <div>
        <img class="poster" [src]="show.image" />
    </div>
    <div id="showHeader">
        <h2>{{ show.name }}</h2>
        <span><b>Description: </b>{{ show.description }}</span> 
        <br />
        <span><b>Genres:</b> {{ show.genres }}, <b>Language:</b> {{ show.language }}</span>
    </div>
    <div>
        <span><b>Premiered:</b> {{ show.premiered | date: 'longDate' }}, <b>Ended</b>: {{ show.ended | date: 'longDate' }}</span>
    </div>
</div>
