<div class="container">
    <br />
          <!-- Maintains bootstrap grid -->
    <div class="row">

      <!-- If error fetching data-->
      <div class="col-12" *ngIf="error">
        <div class="alert alert-danger">
          <p>Error: {{ error }}</p>
        </div>
      </div>

      <!-- Aligns left margins of heading "results" and image -->
      <div class="col-lg-12 col-md-12" id="details-heading">
        <h2><b>Results:</b></h2>
      </div>
  
      <!-- Else show details -->
      <div class="col-lg-3 col-12" id="image" *ngIf="!error">
        <img [src]="current.image" alt="{{ current.showName }}" />
      </div>
      <div class="col-lg-9 col-12" id="details" *ngIf="!error">
        <h3>{{ current.showName }}</h3>
        <p>
          {{ current.yearStart !== 0 ? current.yearStart : 'N/A' }} - 
          {{ current.yearEnd !== 0 ? current.yearEnd : 'N/A' }} <!--will display 'N/A' if year data is null-->
        </p>
        <p><b>Description: </b>{{ current.description }}</p>
      </div>
    </div>
  </div>
  