
  <div class="toolbar">
  <mat-toolbar>
    <mat-toolbar-row>
      TV Show Search
    </mat-toolbar-row>
  </mat-toolbar>
  </div>

<div id="search">
  <app-show-search (searchEvent)="doSearch($event)"></app-show-search>
</div>

  <div id="show-details"> 
    <ng-container *ngIf="searchInitiated">
    <!-- If search initiated and error fetching data, this will display; changed to check for null description-->
        <div class="details" *ngIf="showDetails.description === ''">
          <div class="alert alert-danger">
            <p>No data is available. Please retry your search.</p>
          </div>
        </div>
    <!-- Show details displays if data is available from initiated search -->
      <app-show-details *ngIf="showDetails.description !==''" [current]="showDetails"></app-show-details>
    </ng-container>
  </div>

