<div class="container">

  <div class="row" id="search"> <!--start of search. is NOT functioning or styled-->
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Enter TV show name..." aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

  <div class="row" id="show-details"> <!--moved "results" header to show-details.component html -->
    <app-show-details></app-show-details>
  </div>

</div>