
.toolbar mat-toolbar {
    background-color: #e0f0f7;
    padding: 0;
}

mat-toolbar-row {
    text-align: left;
    padding: 10px;
    margin: 0;
    font-family: "Lilita One", sans-serif;
    font-size: 1em;
    color: #035577;
}

#search {
    padding: 15px;
    text-align: center;
}

/* SHOW DETAILS */
#show-details {
    padding: 10px;
    margin: 0 10%;
}

  

